* {
    font-family: monospace;
}

html {
    background: rgb(0,122,241);
    background: linear-gradient(143deg, rgba(0,122,241,1) 0%, rgba(0,181,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    
}

header {
    text-align: center;
    color: white;
    font-family: monospace;
}

.welcome {
    font-size: 40px;
    text-shadow: 5px 5px black;
}


.container-2 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.frame {
    width: 300px;
    height: 310px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.frame:hover {
    transition: all 300ms ease-in-out;
    transform: scale(1.1);
}

.frame-link {
    -webkit-tap-highlight-color: transparent;
}

.content-img {
    display: flex;
    justify-content: center;
    margin:10px;
}

.class-img {
    border-radius: 100%;
    width: 250px;
    height: 250px;
    margin-top: 10px;
}

.class-des {
    font-size: 20px;
    text-align: center;
    color: white;
    text-shadow: 0 2px 5px black
}